# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (tracked via DVC instead, not raw git)
data/raw/*.csv
data/processed/*.csv
!data/raw/ecommerce_logistics_route_planning_dataset.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

# MLflow
mlruns/
mlartifacts/
models/mlflow/mlruns/

# DVC
.dvc/cache
.dvc/tmp

# Docker
*.log

# Environment / secrets
.env
*.pem

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

models/mlflow/mlflow.db
